<h1 class="text-center">USERs</h1>

<% @users.each do |user| %>
  <div class="user_index">
    <div class="col-md-12 text-center user_nickname">
      <%= user.nickname %>
    </div>
  </div>
<% end %>