<h1>EDIT</h1>

<div class="row">
  <%= form_with model: @post, url: post_path(@post), local: true do |f| %>
    <%= f.text_area :body, placeholder: '150 characters' %>
</div>

<div class="row">
  <%= f.submit 'Update' %>
</div>
<% end %>