<h1>NEW</h1>

<div class="row">
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <%= f.text_area :body, placeholder: '150 characters' %>
</div>

<div class="row">
  <%= f.submit 'Create' %>
</div>
<% end %>
