// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_box {
	width: 420px;
	display: flex;
	background-color: #FFCCCC;
}

.index_box > .index_post {
	width: 400px;
	height: 150px;
	margin: 10px auto;
	background-color: #fff;
	border-radius: 5px;
}