// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_box {
	display: flex;
	background-color: #FFCCCC;
	border-radius: 3px;
}

.index_box > .index_post {
	width: 100%;
	height: 100%;
	margin: 10px;
	background-color: #fff;
	border-radius: 5px;
}